#base {
  margin-top: 100px;
  width: 1000px;
  height: 100%;
  margin-left: 200px;
  text-align: center;
  background-color: #FF7F50;
  border-radius: 30px;


}

body {
  background-image: url(https://th.bing.com/th/id/OIP.uF67C15XN8Heem2-LjEERQHaEK?w=321&h=180&c=7&r=0&o=5&pid=1.7);
  background-repeat: no-repeat;
background-position: 0 0;
-moz-background-size: cover;
-webkit-background-size: cover;
background-size: cover;
}

a.bottone {
  color: #fff; /* colore del testo */
  text-decoration: none; /* eliminare la sottolineatura del testo */
  background: rgb(212,75,56); /* sfondo del bottone */
  padding: .7em 1.5em; /* padding dal testo dal bordo del bottone */
  outline: none; /*  eliminare bordo*/
  border-radius: 40px;
}
a.bottone:hover { background: rgb(232,95,76); } /* cambio dello sfondo al passagio del mouse */
a.bottone:active { background: rgb(152,15,0); } /* cambiare lo sfondo al premere bottone   */

a.bottone2 {
  color: #fff; /* colore del testo */
  text-decoration: none; /* eliminare la sottolineatura del testo */
  background: rgb(212,75,56); /* sfondo del bottone */
  padding: .7em 1.5em; /* padding dal testo dal bordo del bottone */
  outline: none; /*  eliminare bordo*/
  border-radius: 40px;
}
a.bottone2:hover { background: rgb(232,95,76); } /* cambio dello sfondo al passagio del mouse */
a.bottone2:active { background: rgb(152,15,0); } /* cambiare lo sfondo al premere bottone   */



#info {
  color: #191970;
}
